html,
body {
    height: 100%;
    color: #8c8c8c;

}

section {
    background-image: url(../images/music.jpg);
    width:100%;
    height:100%;
    background-size: cover;
}

.login_wrap {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.signup {
    padding-top: 5px;
    font-size: 17px;
}

.singup_reg {
    color: #5cb85c;

}

.singup_reg:hover {
    color: red;
}

.container-middle {
    display: table;
    height: 100%;
    width: 100%;
}

.row-middle {
    display: table-cell;
    vertical-align: middle;
}

.btn-sign {
    padding: 6px 12px;
    display: inline-block;
    float: left;
    margin-right: 15px;
}